*{ margin:0;
    padding:0;
    font-family:"微软雅黑";       
}
.footer1{
	position: relative;
	left: 50%;
	margin-left: -960px;
	margin-top: 661px;
    background-color:#7b7b7b;
    width: 1920px;
    height: 314px;

}
.footer2{
	position: relative;
	left: 50%;
	margin-left: -960px;
    background-color:#5b5b5b;
    width: 1920px;
    height: 126px;

}
.img5{
	background-color: #808080;
	position: relative;
	top:79px;
	width: 365px;
	left: 1195px;
}

